app/config/secret.txt
app/views/_dev
node_modules/
.sass-cache/
compilation_cache/
package.lock
package-lock.json
composer.lock
yarn.lock
.git
.ftp-config
notes.md
beautify.html
app/cache/compilation/*
!app/cache/compilation/.gitkeep
public/json/secret.json
to_do.txt
content.txt