{% extends "base.twig" %}

{% block content %}
  <div class="uk-section uk-container" data-template="404.twig">
    <article class="uk-article">
      <h1 class="uk-article-title uk-text-bold">Nothing here..</h1>
      <p>Oops, there is nothing to be found here.</p>
      <a href="/" class="uk-button uk-button-small uk-button-default">Back to Homepage</a>
    </article>
  </div>
{% endblock %}